<!DOCTYPE html>
{% extends 'testapp/base.html' %}
{% block body_base %}
<style>
    h1{
    color:red
    }
</style>
<div class="jumbotron">
    <div class="container">
        <h1>Welcome to PrimeStop Investments</h1>
        <p1>store of people choice....</p1>
        <h3>Employees:</h3>
        </ul>
            <li>Habeeb Hussain</li>
            <li>Maricela</li>
            <li>Basheer</li>
            <li>Maggie</li>
            <li> p.j our fav</li>
            <li> Hassan the boss:</li>
            <li> Mubeen Faraz</li>
            <li>Rodoshi</li>
            <li>Arora</li>
    </ul>
    </div>
    </div>
{% endblock %}